.form {
    display: flex;
    justify-content: center;
    position: relative;
    height: 30px;

}


.form_buton {
    background-color: rgb(125, 199, 14);
    border: none;
    border-radius: 0 1rem 1rem 0;
    color: white;
    cursor: pointer;
    margin: 0;
    transition: background-color 300ms, color 300ms;
}

.form_buton:hover{
    background-color: black;
    color: rgb(125, 199, 14);
}

.form_input {
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 1rem 0 0 1rem;
    padding: 0.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    background-color: white;
    position: relative;
    z-index: 10;
}

.react-autosuggest__suggestions-container {
    text-align: center;
    width: 300px;
    position: absolute;
    top: 20px;
    border-radius: 0 0 1rem 1rem;
    background-color: white;
    margin-top: 0;
    color: black;
    cursor: pointer;
}